
// ----- Building the grid 
.board {

    position: relative;
    left: 40%;

    display: table;
    width: 10%;

    border: 6px solid rgb(40, 40, 40);
}

.board-game {
    display: table-row-group;
}

.board-row {
    display: table-row;
}

.board-cell {
    border: 3px solid #999999;
	display: table-cell;
    padding: 20px 40px;

    position: relative; // Useful to have .life (and other attributes) {position: absolute}
}

.to-hide {
    visibility: hidden;
}

.frontier-bottom {
    border-bottom: 5px solid purple;
}

.frontier-top {
    border-top: 5px solid purple;
}

// ----- END Building the grid 



@media (max-width: 576px) {

    // ----- Building the grid 

    .board {
        position: relative;
        left: 20%;
    
        display: table;
        width: 5%;
    
        border: 3px solid rgb(40, 40, 40);
    }
    
    .board-game {
        display: table-row-group;
    }
    
    .board-row {
        display: table-row;
    }
    
    .board-cell {
        border: 2px solid #999999;
        display: table-cell;
        padding: 8px 16px;
    
        position: relative; // Useful to have .life (and other attributes) {position: absolute}
    }
    
    .frontier-bottom {
        border-bottom: 3px solid purple;
    }
    
    .frontier-top {
        border-top: 3px solid purple;
    }

    // ----- END Building the grid 

    i, p {
        // font-size: 5vw;
        font-size: 0.55em;
        // font-weight: 0.1em;
    }
    
}


.over-pawn:hover {
    background-color: rgba(200, 200, 255, 0.4);
    cursor: pointer;
}

.pawn-selected {
    background-color: rgba(100, 100, 255, 0.6);
    cursor: pointer;
}

.player-one {
    color: green;
}

.player-two {
    color: red;
}

.no-attacks-left {

    .player-one {
        color: rgba(0, 128, 0, 0.4);
    }
    
    .player-two {
        color: rgba(255, 0, 0, 0.4);
    }
}


.fa-bolt {
    margin: 0;
    position: absolute;
    top: 15%;
    left: -160%;
}

.contactAtk {
    font-weight: bold;
    
    margin: 0;
    position: absolute;
    top: 0;
    left: 17%;
}

.rangedAtk {
    font-weight: bold;
    
    margin: 0;
    position: absolute;
    top: 20%;
    left: 2%;
}

.defense {
    font-weight: bold;
    
    margin: 0;
    position: absolute;
    top: 0;
    right: 2%;
}

.movement {
    font-weight: bold;
    
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 2%;
}

.life {

    // background-color: powderblue; // debug

    font-weight: bold;
    
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 2%;
}
