<div class="container-fluid">

    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="cardgame col-3">
            <h1>Shape Battle</h1>
            <br>
            <app-option-board></app-option-board>
            <br>
            <app-game-info></app-game-info>
        </div>
        <div class="boardgame col-3">
            <br>
            <br>
            <br>
            <app-gameboard></app-gameboard>
        </div>
        <!-- <div class="col-3"></div> -->
    </div>

</div>